.question
  .right
    %h2
      %a= link_to question.title, question
    %p
      = question.content
    %span.info= l question.created_at
  .left
    .nr #1
    .avatar
      = image_tag avatar_url(question.author)
