.question
  .right
    %h2
      %a= link_to question.title, question
    %p= question.content
  .left
    .nr #1
    .posted
      by
      %a Someone
    .date= question.created_at
    .comments
      Comments
      %a (64)
