.question.container
  = render @question

- if can? :read, @question => Answer
  #answers
    - for answer in @question.answers
      - unless answer.new_record?
        = render 'answers/answer', :answer => answer

  - if can? :create, @question => Answer
    = render 'answers/form', :question => @question
