%ul.topics
  - for topic in topics
    %li
      %span.title= topic.title
      %span.votes= topic.votes.count
      - if can? :vote, topic
        = link_to t('views.vote.create'), topic_votes_path(topic), :method => :post, :class => 'vote_link'
