body {
  margin: 20px 0px 0px 0px;
  padding: 0;
  background: #FFFFFF;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

/* Default Settings */

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

a {
  color: #ff0000;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

/* Header */

#header {
  overflow: hidden;
  width: 1000px;
  margin: 0 auto 10px auto;
}

/* Actions Navigation */

#actions-navigation {
  float: right;
  padding: 5px 0 0 0;
}

#actions-navigation a {
}

/* Logo */

#logo {
  /* float: left; */
  width: 300px;
  margin: 30px 0 0 0;
  padding: 0;
  color: #000000;
}

#logo h1 {
  font-size: 3.2em;
  color: #000;
  font-weight: bold;
  text-shadow: #bbb 2px 2px 3px;
}

#logo h1 span {
  color: #ff0000;
}

#logo h1 a {
  color: #0C0C0C;
}

#logo a {
  border: none;
  background: none;
  text-decoration: none;
  color: #45302C;
}

/* Content */

#content {
  float: left;
  width: 660px;
  padding: 0px 0px 20px 0px;
  background: #FFFFFF;
}

#content h2 {
  font-size: 1.6em;
  color: #000;
  margin: 0 0 10px 0;
  font-weight: bold;
}

#content p {
  line-height: 20px;
  color: #555;
  font-size: 16px;
}

/* Questions */



/* Container */

.container {
  clear: both;
  margin-bottom: 40px;
  min-height: 100px;
}

.container .right {
  float: right;
  width: 600px;
  padding: 0 0 0 5px;
}

.container .left {
  text-align: right;
  width: 50px;
  margin: 0 15px 0 0;
}

.container h2 {
  font-size: 1.6em;
  margin: 0 0 0 0;
  color: #000;
}

.container h2 a {
  color: #000;
}

.container span.actions {
  font-size: 14px;
}

.container span.actions a {
  font-size: 14px;
  color: #ff0000;
}

.container .content {
  font-size: 16px;
  margin: 10px 0 10px 0;
}

.container .left .nr {
  font-size: 1.6em;
  font-weight: bold;
  color: #bbb;
  margin: 0 0 14px 0;
}

.container .avatar {
  margin: 0 0 5px 0;
}

.container .info {
  font-style: italic;
  font-size: 0.8em;
}

.container dl {
  padding: 0.5em;
}

.container dt {
  float: left;
  clear: left;
  width: 170px;
  text-align: right;
  font-weight: bold;
}

.container dt:after {
  content: ":";
}

.container dd {
  margin: 0 0 0 180px;
  padding: 0 0 0.5em 0;
}

/* Answers */

.answer { clear: both; }
.answer .left { float: left; margin: 10px 0 20px 60px; }

.answer hr {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
  width: 598px;
  margin: 0 0 5px 60px;
  padding: 0;
}

.answer .right {
  float: right;
  width: 558px;
  padding: 0;
  margin: 10px 0 0 10px;
}

.answer .right .author { font-weight: bold; }
.answer .right .date { font-size: 0.8em; }
.answer .right p { padding: 10px 0; }

/* Wrapper */

#wrapper {
  margin: 0 auto;
  padding: 0;
}

/* Search */

#search {
  float: right;
  height: 40px;
  width: 280px;
  padding: 0px 0px 0px 0px;
}

#search form { margin: 0; padding: 10px 0 0 20px; }

#search fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

#search-text {
  float: left;
  font-size: 12px;
  padding: 2px 3px 3px;
  width: 200px;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  text-transform: lowercase;
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #B9ADAA;
}

#search-submit {
  float: right;
  height: 26px;
  border: none;
  background: none;
  text-indent: -9999px;
  color: #000;
}

/* Menu */

#menu { margin: 20px 0 0 0; }

#menu ul li.current_page_item a {
  color: #EB1D1D;
  text-decoration: underline;
}

#menu ul {
  margin: 0px;
  padding: 0px 0px 0px 0;
  list-style: none;
}

#menu li {
  display: inline;
  margin: 0 10px 0 0;
}

#menu a {
  height: 37px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #888;
}

#menu ul li a:hover {
  text-decoration: underline;
  color: #EB1D1D;
}

/* Page */

#page {
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
  border-top: 1px solid #BBBBBB;
}

/* Sidebar */

#sidebar {
  float: right;
  width: 300px;
  margin: 0px;
  padding: 0px 0px 0px 0px;
}

#sidebar ul.sidebar-elements {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar ul.sidebar-elements li {
  margin: 0px 0px 20px 20px;
  padding: 0 0 0 20px;
}

#sidebar ul.sidebar-elements ul li {
  margin: 0;
  padding: 0;
}

#sidebar .right {
  width: 180px;
}

#sidebar .container {
  min-height: 80px;
}

/* #sidebar li ul { */
/*   margin: 0px; */
/*   padding-bottom: 30px; */
/* } */

/* #sidebar li li { */
/*   line-height: 35px; */
/*   border-bottom: 1px solid #BBBBBB; */
/*   border-left: none; */
/*   text-align: left; */
/* } */

/* #sidebar li li span { */
/*   display: block; */
/*   margin-top: -20px; */
/*   padding: 0; */
/*   font-size: 11px; */
/*   font-style: italic; */
/* } */

/* #sidebar li li a { */
/*   padding: 0px 0px 0px 20px; */
/* } */

#sidebar h2 {
  margin: 0px 0px 15px 0px;
  padding: 4px 0px 0px 0px;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: -2px;
  font-size: 1.5em;
  color: #000;
}

#sidebar p {
  margin: 0 0px;
  padding: 0px 20px 20px 0px;
  text-align: justify;
  line-height: 20px;
  color: #555;
  font-size: 12px;
}

#sidebar a {
  border: none;
  text-decoration: none;
  font-size: 12px;
}

#sidebar a:hover {
  text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
  padding: 20px;
}

#calendar table {
  width: 100%;
}

#calendar tbody td {
  text-align: center;
}

#calendar #next {
  text-align: right;
}

/* Footer */

#footer {
  width: 1000px;
  height: 50px;
  margin: 0 auto;
  padding: 0px 0 15px 0;
  border-top: 1px solid #BBBBBB;
}

#footer p {
  margin: 0;
  padding: 10px 0px 0px 0;
  text-align: left;
  line-height: normal;
  font-size: 10px;
  text-transform: uppercase;
  color: #45302C;
}

#footer a {
  color: #6B4A45;
}

/* Tag Cloud */
#sidebar .tag-size1 { font-size: 0.6em; }
#sidebar .tag-size2 { font-size: 0.8em; }
#sidebar .tag-size3 { font-size: 1.0em; }
#sidebar .tag-size4 { font-size: 1.2em; }

#sidebar .tag_cloud h2 { margin: 0 0 10px 0; }

#sidebar .tag_cloud a { padding: 2px 0; line-height: 1.5em; }
#sidebar .tag_cloud a:hover {
  background: #ff0000;
  color: #fff;
  text-decoration: none;
}

/* Other Stuff */
.clearfix {
  clear: both;
}

/* Topics */
#topic_list li {
  height: 65px;
  clear:both;
  margin: 0;
  padding: 0;
}

#topic_list h3 {
  width: 180px;
  float: right;
  margin-bottom: 5px;
  font-size: 0.9em;
}

.vote_badge {
  border: 2px #888 solid;
  width: 50px;
  padding: 5px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
}

.vote_count {
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: 2px #888 dashed;
}

.votes-info {
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #eef;
  border-left: 1px solid #eef;
  font-size: 11px;
  height: 38px;
  padding: 8px 0 0 0;
  text-align: center;
  width: 46px;
}

.votes-info .vote-count {
  font-size: 17px;
  font-weight: bold;
}

/* Pagination */

.pagination {
  margin: 0 0 0 0;
  padding: 20px 0 0 60px;
  font-size: 0.8em;
}

.pagination_links {
	font-size: 14px;
	line-height: 18px;
  padding: 15px 0;
  margin-top: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.pagination a, .pagination em {
  display: inline;
  padding: 4px 8px;
}

.pagination a {
  border: 1px solid #ccc;
  color: #555;
  text-decoration: none;
}

.pagination a:hover {
  border: 1px solid #333;
  color: #fff;
	background: #585858;
}

.pagination em {
  font-style: normal;
  font-weight: bold;
  color: #333;
}

.pagination .disabled {
  font-weight: normal;
  color: #999;
}

.pagination .prev_page {
  margin-right: 15px;
}

.pagination .next_page {
  margin-left: 15px;
}

.pagination .next_page.lonely {
	margin-left: 0;
}
