/* Flash Messages */

#flash_messages {
  width: 100%;
}

#flash_messages .notice, .error, .alert {
  margin: 20px 0px 20px 20px;
  padding: 10px 0 10px 10px;
}

#flash_messages .notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66;
}

#flash_messages .error, .alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666;
}
