div.input {
  margin: 0 0 10px 0;
}

label {
  width: 150px;
  margin: 2px 0 0 0;
  display: block;
  float: left;
  padding: 4px 3px 3px 3px;
}

label.string {
  display: block;
  float: left;
  margin: 2px 0 0 0;
  padding: 2px 3px 3px 3px;
}

label.text {
  display: block;
  float: left;
  margin: 2px 0 0 0;
  padding: 2px 3px 3px 3px;
}

abbr {
  color: #ff0000;
}

input {
  font-size: 14px;
}

input.button {
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  margin: 5px 0 0 156px;
  padding: 5px;
  color: #555;
}

input.string {
  padding: 2px 3px 3px;
  width: 300px;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  color: #555;
}

input.password {
  padding: 2px 3px 3px;
  width: 300px;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  color: #555;
}

textarea.text {
  font-size: 14px;
  padding: 2px 3px 3px;
  width: 400px;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  color: #555;
}

/* Answer Section */
#answers textarea.text {
  margin: 20px 0 0 0;
}

#answers textarea.text {
  width: 660px;
}

#answers input.button {
  margin: 5px 0 0 0;
}

/* Buttons */
.button  {
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  display: inline-block;
  margin: 0 0 20px 20%;
  padding: 10px;
  color: #555;
  text-decoration: none;
}

.hint {
  margin-left: 150px;
  display: block;
  font-size: 0.7em;
}

/* Errors */
.field_with_errors .error {
  font-size: 0.7em;
  margin-left: 150px;
  color: #cc6666;
}

.field_with_errors input {
  background-color: #ffcccc;
  border: solid 1px #cc6666;
}
