label {
  display: block;
  margin: 10px 0 5px 0;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

input.string {
  width: 280px;
  height: 22px;
  font-size: 16px;
}

input.password {
  width: 280px;
  height: 22px;
  font-size: 16px;
}

input.button {
  margin: 8px 0 0 0;
  color:#000;
  text-shadow: #aaa 0px 1px 0px;
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  padding: 8px 12px;
  font-variant: normal;
  font-weight: bold;
  border-top: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  border-right: none;
  border-left: none;
}

textarea {
  width: 545px;
  height: 200px;
  padding: 10px;
  font-size: 16px;
}

input.boolean {
  float: left;
  margin: 2px 10px 0 2px;
}

form {
  margin: 10px 0 10px 20px;
}

.error {
  display: block;
  color: red;
  margin: 4px 0 0 0;
  padding: 0;
}

.hint {
  display: block;
  font-size: 0.7em;
  margin: 4px 0 0 0;
  font-style: italic;
}

abbr[title='required'] {
  color: red;
}

/* Special Form Cases */

#sidebar input.string {
  width: 252px;
}

#sidebar form {
  margin: 10px 0 10px 10px;
}

#new_answer {
  margin: 0 0 20px 95px;
}
