%ul
  %li>
    %h2 Aliquam tempus
    %p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.
  %li
    %h2 Categories
    %ul
      %li
        %a Aliquam libero
      %li
        %a Consectetuer adipiscing elit
      %li
        %a Metus aliquam pellentesque
      %li
        %a Suspendisse iaculis mauris
      %li
        %a Urnanet non molestie semper
      %li
        %a Proin gravida orci porttitor
